// Define defaults for each variable.

$base-font-family: Raleway, Helvetica Neue, Arial, sans-serif;
$header-font: Playfair Display, Times New Roman, Times, serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fffff0;
$background-color: #292927;
$brand-color:      #8100df;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Device widths

$iphone5: 320px;
$iphone6: 374px;
$iphone6plus: 410px;

$tablet: 767px;

$desktop: 900px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials.
@import
  // "minima/base",
  // "minima/layout",
  "minima/syntax-highlighting"
;

// icon colour
i.fa {
	color: $grey-color;
}